<div
  style="
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
  "
>
  <div style="text-align: center; margin-bottom: 20px">
    <h2 style="margin: 0">Compte confirmé</h2>
  </div>

  <div style="background-color: #f7f7f7; padding: 20px; border-radius: 5px">
    <p style="margin: 0">Dear <b style="color: #333"><%= name %></b>,</p>
    <p style="margin: 0; margin-top: 10px">
      Nous avons le plaisir de vous informer que votre compte a été confirmé.
    </p>
    <p style="margin: 0; margin-top: 10px">
      Merci pour votre temps, et nous espérons vous voir bientôt!
    </p>
  </div>
</div>

<style>
  @media (max-width: 600px) {
    div {
      padding: 15px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 12px;
      padding: 8px 1rem (6);
    }
  }
</style>
